
_ReSharper.Caches/

.vs/

Bussiness/OrderInvoice_BL/bin/

Bussiness/OrderInvoice_BL/obj/

CompositionRoot/bin/

CompositionRoot/obj/

CrossCutting/Encryption/bin/

CrossCutting/Encryption/obj/

CrossCutting/Exceptions/bin/

CrossCutting/Exceptions/obj/

CrossCutting/MathParser/bin/

CrossCutting/MathParser/obj/

CrossCutting/OrderInvoice_Interfaces/bin/

CrossCutting/OrderInvoice_Interfaces/obj/

CrossCutting/Utilites/bin/

CrossCutting/Utilites/obj/

Data/Database/bin/

Data/Database/obj/

Data/OrderInvoice_DL/bin/

Data/OrderInvoice_DL/obj/

packages/

Service/OrderInvoiceService/bin/

Service/OrderInvoiceService/obj/

Tests/NUnit.LayerIntragrationTests/bin/

Tests/NUnit.LayerIntragrationTests/obj/

Tests/OrderInvoice_BL_UnitTests/bin/

Tests/OrderInvoice_BL_UnitTests/obj/

OrderInvoice.sln.DotSettings.user
